.sidebar-admin
{
    display:flex;
    height: 93vh;
    background:#829ECE;
    border:1px solid black;
    position:fixed;
    top: 10vh;
    left: 0;
    overflow: hidden;
    width: 180px;

}

.sidebar-admin h4 {
    font-size: 20px;
    background: linear-gradient(to right, #424344, #0f0f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;

}
.sidebar-admin ul{
position:relative;
list-style: none;
font-size: 18px;
}
.sidebar-admin ul li a{
  align-items: center;
    text-transform: capitalize;
    color:black;
    position: relative;
    padding: 10px ;
    height:50px;
    display:flex;
    text-align: center;
    text-decoration: none;
    transition: width 2s ease;
    border-radius: 10px;
}
.sidebar-admin ul li a:hover{
   
    position:relative;
    align-content: center;
    right: 2vh;
    left: -1vh;
    text-decoration: none;
    text-align: center;
    color:#fff;
}
/* section ul .sidebar
{
    position:relative;
} */
/* section ul .sidebar:hover ul{
    display: initial;
} */
.sidebar-admin ul li i {
    margin-right:1vh;
    text-align: center;
    margin-left: -3vh;
}
.text-admin{
    width:180px;
    position: sticky;
    /* position:relative; */
    top:0px;
    
}
.content-admin{
    display:flex;

}
.alert-success {
    background-color: #28a745; 
    opacity: 1;/* Change to your desired color */
    color: #fff; /* Change to your desired text color */
  }
  
  .alert-danger {
    background-color: #dc3545; /* Change to your desired color */
    color: #fff; /* Change to your desired text color */
  }
  
  .alert {
    font-size: 14px;
    padding: 5px;
    width: 60%;
    margin: 0 auto;
  }
  
@media screen and (max-width: 768px) {
    .sidebar-admin {
    height: auto;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    }
    
    .sidebar-admin ul li a {
    padding: 5px;
    height: auto;
    margin: 5px 0;
    border-radius: 5px;
    }
    
    .text-admin {
    width: auto;
    position: static;
    margin: 10px 0;
    }
    
    .content-admin {
    display: block;
    }
    }