.hall-cont{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  overflow: hidden;
}
.hall-cont h1{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 1px;
    color: rgba(0, 0,0, 0.4);
}
.cont-h
{  width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    grid-gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.cont-h .box-cont-h
{
    position: relative;
    height: 400px;
    box-shadow: 0 30px 30px rgba(0, 0,0, 0.4);
    overflow: hidden;
    border-radius: 10px;
    border:5px #8c271e solid ;
    
}
.cont-h .box-cont-h::before{
    position: absolute;
    content: '';
    top:99%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(22, 99, 215);
    transition: 0.4s;
}
.cont-h .box-cont-h:hover::before{
        top: 50%;
}
.cont-h .box-cont-h .imgbox
{
    width: 100%;
    height: 50%;
}
.cont-h .box-cont-h .imgbox img{
width:100%;
height: 100%;
object-fit: cover;
}
.cont-h .box-cont-h h1{
    font-size: 30px;
    position: relative;
    text-align: center;
}
.cont-h .box-cont-h:hover h1
{
    color: white;
}
.cont-h .box-cont-h p{
    font-size: 14px;
    position: relative;
    text-align: justify;
    padding: 5px;
   visibility: hidden;
}
.cont-h .box-cont-h:hover p{
    color: white;
    visibility: visible;
}
.book{
    border-style:ridge ;
    margin-top: 30px;
    width: 50%;
    border-radius: 10px;
}
.book h3{
    padding: 10px;
    font-size: 20px;
    float: left;
    width: 60%;
    text-align: center;
}
.book button{
 width:200px;
 float:right;
    margin: 30px;
    margin-right: 5vh;
    background-color:dodgerblue;
    height: 50px;
    border-radius:20px ;
    text-align: center;
    margin-top: 5vh;
}
.book button a{
    font-size:20px;
    color: white;
    text-decoration: none;
}
.book button:hover {
    background-color: white;
  }
  .book button:hover a{
    color:black;
  }
  @media screen and (max-width: 600px) {
    .book button {
      display: block;
      margin: 0 20vh ;
    }
  }